node_modules
.node_modules.lock
dist
.output
.vinxi
.nitro
.tanstack
.vercel
.data
.data/**
.data-*
*.broken
.env
.env.*
.project_id
artifacts
attachments
screenshots
public/fonts/*.otf
.DS_Store
*.log
